//
//  Debug.xcconfig
//  Notifire
//
//  Created by David Bielik on 30/01/2018.
//  Copyright © 2018 David Bielik. All rights reserved.
//

#include "Pods/Target Support Files/Pods-Abst-Notifire/Pods-Abst-Notifire.debug.xcconfig"
SLASH=/
API_URL = dev-notifire.memonil.com
WS_URL = wss:$(SLASH)/dev-notifire.memonil.com/ws/services

// App name + bundle ID
APP_DISPLAY_NAME=Notifire Dev
PRODUCT_BUNDLE_IDENTIFIER=com.dvdblk.Notifire.dev
