//
//  MockTF.xcconfig
//  Notifire
//
//  Created by David Bielik on 31/08/2020.
//  Copyright © 2020 David Bielik. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Notifire-Notifire Mock/Pods-Notifire-Notifire Mock.testflight.xcconfig"
SWIFT_ACTIVE_COMPILATION_CONDITIONS=API_MOCK
API_URL=none

// App name + bundle ID
APP_DISPLAY_NAME=Notifire Mock TF
PRODUCT_BUNDLE_IDENTIFIER=com.dvdblk.Notifire.mock.tf
