//
//  Mock.xcconfig
//  Notifire
//
//  Created by David Bielik on 14/10/2018.
//  Copyright © 2018 David Bielik. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-Abst-Notifire Mock/Pods-Abst-Notifire Mock.debug.xcconfig"
SWIFT_ACTIVE_COMPILATION_CONDITIONS=API_MOCK
API_URL=none
WS_URL=none

// App name + bundle ID
APP_DISPLAY_NAME=Notifire Mock
PARENT_APP_BUNDLE_IDENTIFIER=com.dvdblk.Notifire.mock
PRODUCT_BUNDLE_IDENTIFIER=$(PARENT_APP_BUNDLE_IDENTIFIER)
