//
//  Release.xcconfig
//  Notifire
//
//  Created by David Bielik on 30/01/2018.
//  Copyright © 2018 David Bielik. All rights reserved.
//

#include "Pods/Target Support Files/Pods-Abst-Notifire/Pods-Abst-Notifire.release.xcconfig"
SLASH=/
API_URL = notifire.memonil.com
WS_URL = wss:$(SLASH)/notifire.memonil.com/ws/services

// App name + bundle ID
APP_DISPLAY_NAME=Notifire
PARENT_APP_BUNDLE_IDENTIFIER=com.dvdblk.Notifire
PRODUCT_BUNDLE_IDENTIFIER=$(PARENT_APP_BUNDLE_IDENTIFIER)

